.character-container {
    width: 20%;
    margin: 40px 26px;
    padding: 2px;
    font-family: 'Friends';
    
    .img-container {
        img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 5px;
        }
    }

    .character-info {
        display: flex;
        flex-direction: column;
        line-height: 2;
        text-align: center;
    }
}