.home-container {
    margin-top: 69px;
   
    .home-title {
        font-family: "Friends";
    }

    .images-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    
}

