body {
    margin: 0;
}

@font-face {
    font-family: "Friends";
    src: url('../GABRWFFR.TTF');
}

@import "./pages/home";
@import "./pages/characters";
@import "./pages/seasons";
@import "./pages/episodes";

@import './components/header';
@import './components/footer';
@import './components/cardCharacter';

@import  './elements/link';

